h3.h1{
  color:white;
  font-weight: bold;
  font-size: 15px;
  animation: type 3s steps(28);
  overflow:hidden;
  white-space: nowrap;
}

@keyframes type{
  0%{
    width: 0ch;
  }
  100%{
    width: 28ch;
  }
}